
/**
 * @author Cantico
 * @license http://opensource.org/licenses/gpl-license.php GNU General Public License (GPL)
 * @copyright Copyright (c) 2006 by CANTICO ({@link http://www.cantico.fr})
 * @version 0.1.0
 */

/*
img, div {
	behavior: url("skins/workspace/images/iepngfix.htc");
}
*/

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
/*	background-color:#E4E8EC; */
	background-image:url("../images/grey_vertical_gradient.png");
	background-position:left 96px;
	background-repeat:repeat-x;

/*
	font-family:  Tahoma, "DejaVu Sans", Verdana, Arial, sans-serif;
*/
	font-size: 9pt;

	font-family: Arial, sans-serif;
/*	font-size:74%;*/
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}


body#display_folder #bab_page h2 {
	display: none;
}

body#display_folder div.bab_content {
	padding: 0 !important;
}

textarea, select, input {
	font-family:  Arial, sans-serif;
	font-size: 9pt;
}

/*
input[type="button"], input[type="submit"] {
	background: transparent url('../images/button_bg.png') repeat-x 0 0;
	border: 1px solid #b6b6b6;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #999;
	padding: 2px;
}

input[type="button"]:hover, input[type="submit"]:hover {
	border: 1px solid #888888;
	cursor: pointer;
}
*/
textarea, select, input[type="text"], input[type="password"], input[type="checkbox"],input[type="time"],input[type="date"],input[type="tel"],input[type="url"],input[type="email"] {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #dddddd;
	padding: 1px;
}

.widget-suggestlineedit-menu .widget-suggestlineedit-link {
	font-family:  inherit /*Arial, sans-serif*/ !important;
	font-size: 10pt !important;
}
.widget-suggestlineedit-menu .widget-suggestlineedit-link em {
	font-weight: bold !important;
	font-style: normal;
}

.widget-suggestlineedit-menu .ui-state-default {
	background: #fff !important;
	border: 1px solid #fff !important;
	border-top: 1px solid #ccc !important;
}
.widget-suggestlineedit-menu .ui-state-default:FIRST-CHILD {
	border: 1px solid #fff !important;
}


.ui-widget {
	font: inherit !important;
}


h1, h2, h3, h4, h5, h6 {
	font-family: Arial, "DejaVu Sans", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	color: #37a;
}
h1 {
	font-size: 20pt;
	margin: .4em 0;
	text-shadow: #fff 0px 1px 1px;
}
h2 {
	font-size: 14pt;
	margin: .3em 0;
	text-shadow: #fff 0px 1px 1px;
}
h3 {
	font-size: 12pt;
	margin: .2em 0;
	text-shadow: #fff 0px 1px 1px;
}
h4 {
	font-size: 11pt;
	margin: .2em 0;
	text-shadow: #fff 0px 1px 0px;
}
h5 {
	font-size: 10pt;
	margin: .2em 0;
	text-shadow: #fff 0px 1px 0px;
}


a img {
	border: 0;
}





h2.title {
	font-size: 2em;
	font-weight: normal;
	margin-top: 1em;
	color: #37a;
	text-shadow: #fff 0px 1px 1px;
}

h2.msgerror {
	font-size: 1.3em;
	font-weight: bold;
	color: #d77;
	padding-left:40px;
}



hr.clear {
	display: none;
	clear: both;
}

.icon_bar td {
	vertical-align: middle;
}

.icon_bar td a:focus {
	outline: none;
}

.icon_bar img {
	opacity: 0.6;
	padding: 4px;
	width: 24px;
	height: 48px;
	cursor: pointer;
	vertical-align: middle;
}

#icon_bar_tooltip {
	height: 1em;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	padding-top: 4px;
	color: #ffffff;
/*	opacity: 0.9;*/
}

#user_name {
	height: 1em;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	padding: 8px;
	color: #ffffff;
	opacity: 0.9;
}


#leftcontent_controller {
	cursor: pointer;
	width: 160px;
}

#centercontent_controller {
}

#rightcontent_controller {
	cursor: pointer;
	width: 160px;
}





#leftcontent {
	width: 200px;
}



.centercontent a {
	text-decoration: underline;
	color: #000000;
}


#rightcontent {
	width: 160px;
}


.left_sections_container {
	background-color: #eeeeee;
}

.right_sections_container {
	background-color: #eeeeee;
}



/* Page head */

#ovfx_head {
	background: #219FCF;
}
html > body #ovfx_head {
	border-top: 3px solid #000000;
	background: transparent url('../images/head_bg.gif') repeat-x 0 50%;
	height: 92px;
}

#ovfx_head img {
}

#ovfx_head img.print {
	display:none;
}

#ovfx_head .right {
	background: transparent url('../images/head_bg_light.gif') repeat-x top left;
}

#ovfx_head #main_title  {
	color: #ffffff;
	margin: 10px 0 8px 140px;
	font: normal 28px "Arial";
	filter:alpha(opacity=30);
	opacity: 0.3;
	font-size: 34px;
	line-height: 26px;
	font-weight: bold;
	letter-spacing: -0.07em;
	text-shadow: #246 0px 1px 4px;
	zoom: 1;
}

#ovfx_head h1 {
	color: #ffffff;
	margin-left: 140px;
	margin-bottom: 0;
	font: normal 28px "Arial";
	letter-spacing: -0.035em;
	opacity: 0.7;
	text-shadow: #246 0px 1px 4px;
}
#ovfx_head h2 {
	color: #ffffff;
	margin-left: 140px;
	margin-bottom: 10px;
	font: normal 15px "Arial";
	opacity: 0.4;
	filter: alpha(opacity=40);
	width: 200px;
	height: 20px;
	text-shadow: #246 0px 1px 4px;
}
#ovfx_head h2:hover {
	/*opacity: 0.7;*/
}
#ovfx_head h1 span {
}



/* Page foot */

#ovfx_foot {
	background-color: #aaaaaa;
	border-bottom: 2px solid #ffffff;
	padding: 0.3em 1em 0.3em 1em;
	text-align: right;
	font-style: normal;
	font-size: 0.9em;
	color: #ffffff;
}

#ovfx_foot a {
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

#ovfx_foot a:hover {
	text-decoration: underline;
}



#bab_page .bab_content {
	padding: 0;
}

#bab_page .bab_content table {
	text-align: left;
}



#ovfx_menu {
	padding-top: 16px;
	width: 100%;
	height: 20px;
	font: normal 15px "Arial";
}

#ovfx_menu ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 16px;
	background: #fff url('../images/btn_2.gif') no-repeat 0 0;
	padding-left: 5px;
}

#ovfx_menu li {
	display:inline;
}

#ovfx_menu li a {
	float:left;
	display:block;
	background:#fff url('../images/btn_3.gif') repeat-x 0 0;
	height:16px;
	padding-left:9px;
	padding-right:9px;
	padding-top:2px;
	text-decoration:none;
	color:#039;
	border-right:#4C4C4C 1px dotted;
}

#ovfx_menu li.last a {
	border-right: none;
}

#ovfx_menu li a:hover {
	background-color: #039;
	color: #fff;
}

#ovfx_menu span {
	color: #ffffff;
	display: block;
	position: relative;
	margin-left: 20px;
}

#ovfx_menu span a {
	text-decoration: none;
	font-weight: normal;
	color: #ccccee;
}

#ovfx_menu span a:hover {
	color: #ffffff;
}




#ctx_menu {
/*	list-style-type: none;*/
	display: block;
}

#ctx_menu td.tab {
	padding: 6px 10px 2px 10px;
	background: transparent url('../images/unselected_tab.png') repeat-x 0px 4px

}
#ctx_menu .tab:hover {
	color: #ffffff;
	padding: 6px 10px 2px 10px;
	background: transparent url('../images/hovered_tab.png') repeat-x 0px 4px
}

#ctx_menu a {
	color: #ffffff;
	text-decoration: none;
	opacity: 0.75;
}

#ctx_menu .tab:hover a {
	color: #ffffff;
	text-decoration: none;
	opacity: 1.0;
}






#bab_page {
	padding: 0 2em;
}





#bab_main_toolbar {
	padding: 2px;
	background-color: #333;
	margin: 0;
	color: #fff;
}

#bab_main_toolbar a, .bab_main_toolbar a:visited, .bab_main_toolbar a:active {
	text-decoration: none;
/*
	padding: 1em;
	font-weight: normal;
	font-size: 12px;
*/
	color: #ccc;
}

#bab_main_toolbar .widget-icon {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #2e2e2e;
	border: 2px solid #2e2e2e;
}
#bab_main_toolbar .widget-icon:hover {
	border: 2px solid #08f;
	background-color: #000;
	color: #fff;
	outline: none;
	text-decoration: none;
}

#bab_main_toolbar a.print {
}
#bab_main_toolbar a.calendars {
}
#bab_main_toolbars a.categories {
}
#bab_main_toolbar a.events {
}
#bab_main_toolbar a.notifier {
}

#bab_main_toolbar td, #bab_main_toolbar td img, #bab_main_toolbar td a, #bab_main_toolbar td span {
	vertical-align: middle;
}

#bab_main_toolbar td img {
	margin-right: 4px;
}


.bab_foldable {
	border-bottom: 1px solid #dddddd;
	cursor: pointer;
}


.bab_foldable:hover {
	background-color: #dddddd;
}

.bab_foldable.bab_open {
	padding-left: 12px;
	background-image: url('../images/open.png');
	background-repeat: no-repeat;
	background-position: center left;
}

.bab_foldable.bab_closed {
	padding-left: 12px;
	background-image: url('../images/closed.png');
	background-repeat: no-repeat;
	background-position: center left;
	color: #aaaaaa;
}

address {
}

address a:link, address a:visited {
	color: #777;
}



/* Sections */

.bab_section {
	border: 0;
	margin-bottom: 0px;
	padding-bottom: 0.5em;
	background-color: #e2e2e2;
}

.bab_section .bab_content {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #cccccc;
	background: #e2e2e2 url('../images/section_bottom_bg.png') repeat-x top left;
}
.bab_section .bab_title {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #cccccc;
	background: #e2e2e2 url('../images/section_top_bg.png') repeat-x bottom left;
	color: #000000;
}


/** Section title */

.bab_section .bab_title {
	border: 0;
	cursor: pointer;
}
.bab_section .bab_title:hover {
	background: #cccccc;
}

.bab_section .bab_title h4 {
	padding: 4px 0px 4px 4px;
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	width: 80%;
}


.bab_section .bab_title a:link,
.bab_section .bab_title a:visited {
}

.bab_section .bab_title .nolink {
	display:none;
}

.bab_section .bab_title a {
	width: 12px;
	height: 12px;
	margin: 3px;
	float: left;
	position: relative;
	background-repeat: no-repeat;
}

.bab_section .bab_title a.open {
	background-image: url('../images/closed.png');
}

.bab_section .bab_title a.close {
	background-image: url('../images/open.png');
}

.bab_section .bab_title a.open:hover {
}

/** Section content */

.bab_section .bab_content ul {
	padding: 0;
	margin: .3em 0 0 0;
	list-style-type: none;
}

.bab_section .bab_content ul a {
	color: #777777;
	text-decoration: none;
	display: block;
	padding: 2px 1px 2px 10px;
	opacity: 0.8;
}

.bab_section ul a:hover {
	background-color: #000000;
	color: #ffffff;
}

.bab_section ul li {
	display:inline;
	}

.bab_section .bab_content h5 {
	font-weight:normal;
	text-align:center;
	margin: 0;
	padding: 1em 0.5em 0.5em 0.5em;
	font-size: 0.9em;
}

.bab_section table a:link,
.bab_section table a:visited {
	color:#039;
}

.bab_section table a:hover {
	background-color:#D2EAFF;
	text-decoration:none;
}




/* User section */

.bab_section.bab_usersection {
	background-color: #8eba6b;
}
.bab_section.bab_usersection .bab_content {
	border-top: 1px solid #9fcb7c;
	border-bottom: 1px solid #5e913e;
	background: #8eba6b url('../images/user_bottom_bg.png') repeat-x top left;
}
.bab_section.bab_usersection .bab_title {
	border-top: 1px solid #9fcb7c;
	border-bottom: 1px solid #5e913e;
	background: #8eba6b url('../images/user_top_bg.png') repeat-x bottom left;
	color: #ffffff;
}
.bab_section.bab_usersection .bab_title:hover {
	background: #5e913e;
}

.bab_section.bab_usersection ul a,
.bab_section.bab_usersection ul a:visited,
.bab_section.bab_usersection ul a:link {
	color: #ffffff;
}

.bab_section.bab_usersection ul .addon a {
	opacity: 0.8;
}

.bab_section.bab_usersection ul a:hover {
	background-color: #5e913e;
}




/* Admin section */

.bab_section.bab_adminsection {
	background-color: #a36ebd;
}
.bab_section.bab_adminsection .bab_content {
	border-top: 1px solid #b47fce;
	border-bottom: 1px solid #652b80;
	background: #a36ebd url('../images/admin_bottom_bg.png') repeat-x top left;
}
.bab_section.bab_adminsection .bab_title {
	border-top: 1px solid #b47fce;
	border-bottom: 1px solid #652b80;
	background: #a36ebd url('../images/admin_top_bg.png') repeat-x bottom left;
	color: #ffffff;
}
.bab_section.bab_adminsection .bab_title:hover {
	background: #652b80;
}

.bab_section.bab_adminsection ul a,
.bab_section.bab_adminsection ul a:visited,
.bab_section.bab_adminsection ul a:link {
	color: #ffffff;
}

.bab_section.bab_adminsection ul .addon a {
}

.bab_section.bab_adminsection ul a:hover {
	background-color: #652b80;
}









#bab_montha {
	background-color:#FFFBED;
	border-bottom:#fc3 1px solid;
	}

#bab_montha .bab_title {
	background-color:#fc3;
	}

#bab_montha table {
	width:95%;
	padding:0px;
	border-collapse:collapse;
	margin:0 auto;
	}

#bab_montha thead td {
	font-weight:bold;
	border-bottom:#ccc 1px solid;
	}

#bab_montha td {
	padding:1px;
	text-align:center;
	}

.BabCalendarCurrentDayNumberSection {
	border:#ccc 1px solid;
	background-color:#D2EAFF;
	}



/* topics sections */

.bab_section.bab_topicssection {
	background-color: #919191;
}
.bab_section.bab_topicssection .bab_content {
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #707070;
	background: #919191 url('../images/topicssection_bottom_bg.png') repeat-x top left;
}
.bab_section.bab_topicssection .bab_title {
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #707070;
	background: #919191 url('../images/topicssection_top_bg.png') repeat-x bottom left;
	color: #ffffff;
}
.bab_section.bab_topicssection .bab_title:hover {
	background: #707070;
}

#leftcontent #bab_topicssection .bab_content li a {
	background: transparent url('../images/puce2.gif') no-repeat 95% 50%;
	color: #fff;
	padding:5px 5px 5px 5px ;
	margin-bottom:1px;
}

#leftcontent #bab_topicssection .bab_content li a:hover {
	background:#039 url('../images/puce3.gif') no-repeat 95% 50%;
	color:#ddd;
}



/* calendar ++ */

.bab_content #bab_calmonth {
	border: 1px solid #ffffff;
}

.bab_content #bab_calmonth thead td {
	background: transparent url('../images/list_header_bg.png') repeat-x 0 0;
	border: 1px solid #ffffff;
	padding: 3px;
}

.bab_content #bab_calmonth tbody td {
	border: 1px solid #ffffff;
	padding: 3px;
}

.bab_cal_buttons {
	padding:.6em 0;
	background-color:#eee;
	margin-top:.5em;
	}

.bab_cal_buttons a {
	text-decoration:underline;
	padding:3px;
	color:#ffffff;
	}

.bab_cal_buttons a:hover {
	color:#ffffff;
	background-color:#fff;
	}

/* fileman ++ */

body.fileman#list .centercontent .bab_content a {
	text-decoration:none;
	}

body.fileman#list .centercontent .bab_content a:hover {
	color:#f60;
	}


/* topic */

#BabCategTitleNavigation {
	background-color:#F7FFEB;
	border:#B9D987 1px solid;
	margin:.5em .5% ;
	}

#BabCategTitleNavigation table {
	border-collapse:collapse;
	width:100%;
	height:20px;
	}

#BabCategTitleNavigation td {
	border:0;
	padding:0;
	margin:0;
	padding-left:.5em;
	}

#BabCategTitleNavigation p {
	padding:.2em .5em;
	margin:3px 4px;
	}

#BabCategTitleNavigation a {
	text-decoration:none;
	color:#000;
	}

#BabCategTitleNavigation a:hover {
	color:#930;
	}

#BabCategTitleNavigation .bab_buttons a {
	display:block;
	text-align:center;
	width:8em;
	background-color:#B9D987;
	padding:.2em .5em;
	margin:3px 4px;
	border:#879E63 1px solid;
	}

#BabCategTitleNavigation .bab_buttons a:hover {
	background-color:#fc3;
	border:#F09C18 1px solid;
	}


ul.BabCategTitleNavigation {
	padding: 2.5em;
	margin: 2.5em 15%;
	border: #039 2px solid;
	background-color:#BFD7EF;
	list-style-type:square;
	color:#039;
	}

ul.BabCategTitleNavigation li {
	padding-bottom:.5em;
	}

ul.BabCategTitleNavigation li a,
ul.BabCategTitleNavigation li a:visited {
	text-decoration: none;
	color:#000;
	font-size:1.2em;
	}

ul.BabCategTitleNavigation li a:hover {
	text-decoration: underline;
	}

ul.BabCategTitleNavigation ul {
	font-weight: normal;
	font-style: italic;
	padding-left: 1em;
	margin:0;
	padding:0;
	list-style-type:none;
	}


body.page.articles .bab_repeat {
	margin:.5em 0;
	}


/* PUBLIC CORE CSS */


.BabCalendarBodyBadMonthBackground {
	background-color: #ccc;
	}

.BabContentBackground,
.BabMenuActiveBackground {
	 background-color: #fff;
	 color:#000;
	 }

.BabCalendarMenuActiveBackground {
	background-color: #fff;
	color: #116;
	font-weight: bold;
	}

.BabLoginCadreBackground {
	background: transparent url('../images/form_shadow.png') repeat-x bottom left;
	padding: 0px 0px 7px 0px;

	border-top: 1px solid #fcfcfc;

	border-left: 1px solid #fcfcfc;
	border-right: 1px solid #fcfcfc;
}



.BabLoginMenuBackground {
	padding: 1em;
	border: 1px solid #ccc;
	background: #f9f9f9 url('../images/form_bg.png') repeat-x 0 0;
	color: #000000;
}

.BabBodyTitleBackground {
	padding: 0.2em;
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
}

.BabLoginMenuBackground a {
	text-decoration:none;
	font-weight:bold;
	}

.BabLoginMenuBackground a:hover {
	color:#000;
	text-decoration:underline;
	}

.BabSiteAdminFontBackground,
.BabTopicsBackground,
.BabTopicsButtonBackground {
	background-color: #ffffff;
	color: #000;
}

.BabLoginCadreBackground .BabSiteAdminFontBackground {
	background-color: #f9f9f9;
}


.Babhighlight {
	background-color: #f00;
	}


/* background and font error messages  */
.BabErrorMessage {
	background-color: #fff;
	color: #f33;
	font-weight: bold;
	}

.BabWarningBodyBackground  {
	background-color: #fff;
	color: #000;
	font-weight: bold;
	}

.BabWarningBodyBackground a:Link,
.BabWarningBodyBackground a:Visited {
	color: #00c;
	font-weight: bold;
	}

.BabWarningBodyBackground a:Hover {
	color: #FF3333;
	}

/* admin letterlist users/contacts */
.BabLetterlists {
	color: #000000;
	background-color: #FFFFFF;
	font-weight: bold;
	}

.BabLetterlists a:link,
a.BabAlphabetLink:Link,
a.BabAlphabetLink:Visited {
	color: #009933;
	font-weight: bold;
	}
.BabLetterlists a:Hover,
a.BabAlphabetLink:Hover {
	color: #000;
	}

a.BabNameEmailLink,
a.BabNameEmailLink:Link,
a.BabTitleSmall,
a.BabTitleSmall:Link {
	color: #000000;
	}
a.BabNameEmailLink:Hover,
a.BabTitleSmall:Hover {
	color: #0000CC;
	}



/* notes,faq,eventeditor,vacation */
a.BabEventFaqLink,
a.BabEventFaqLink:Link {
	color: #009933;
	font-weight: bold;
	}

a.BabEventFaqLink:Hover {
	color: #FF3333;
 	}

a.BabContentLinkColor:Link,
a.BabContentLinkColor:Visited,
a.BabSummaryLinkColor:Link,
a.BabSummaryLinkColor:Visited {
	color: #0000CC;
	}
a.BabContentLinkColor:Hover,
a.BabSummaryLinkColor:Hover,
.BabSummaryNbrMessage {
	color: #FF3333;
	}





/**************** ARTICLES ****************************/

/* titles */
.BabTopicsTitleBackground {
	background-color: #fc3;
	color: #000;
	font-weight: bold;
	padding:.05em .5em;
	}
/* font and background articles */

.BabTopicsAuthorBackground {
	border-bottom:#ccc 1px solid;
	}

.BabMonthCalendarCurentDayBackground {
	background-color: #E6E6F7;
	color: #000000;
	}

.BabArticleSpacing {
	height: 5px;
	}

a.BabTopicsFooterLink,
a.BabTopicsFooterLink:Link,
a.BabTopicsFooterLink:Visited {
	color: #4990B1;
	text-decoration: none;
	}

a.BabTopicsFooterLink:Hover {
	text-decoration: underline;
	}


.BabTopicsAuthorBackground {
	padding:0;
	padding-top:5px;
	}



a.BabTopicsFooterMoreLink:Link,
a.BabTopicsFooterMoreLink:Visited {
	color: #000;
	text-decoration: none;
	border:#ccc 1px solid;
	padding:1px 4px;
	border-width:1px 1px 0 1px;
	background:#fff;
	margin-right:1em;
	position:relative;
	font-weight:bold;
	}


a.BabTopicsFooterMoreLink:Hover {
	background-color:#fc3;
	border-color:#fc3;
	}

.BabTopicsTitleNavigation {
	color: #555;
	font-weight: bold ;
	text-decoration: underline;
	}


/********** AGENDA **** CALENDAR ******************************/



.BabCalendarBodyBackground,
.Blackbg {
	background-color: #000000;
	}



/*names of the days on top of monthcalendar*/
.BabCalendarDays {
	background-color: #181A91;
	color: #FFFFFF;
	font-weight: bold;
	}

.BabMonthCalendarEventHourfont {
	background-color: #FFFFFF;
	color: #009933;
	}




/***************** MAIL ******************************/

/* white background  in use on inbox  groups  - plus links */
.BabMailBackground {
	background-color: #FFFFFF;
	color: #000000;
}


/***************** FORUMS**********************************/

/*threads*/
.BabForumBackground,
.HeaderDayCalendar {
	background-color: #F9F9F9;
	}
.BabForumBackground1 {
	background-color: #F0F0F0;
}



a.BabForumNavigation,
a.BabForumNavigation:Link,
a.BabForumNavigation:Visited {
	color: #111166;
	font-weight: bold;
	}

a.BabForumNavigation:Hover {
	color: #009933;
	}

 /*posts*/
.BabForumTopicsNavTitle,
.BabForumTopicsNavDate,
.BabForumTopicsNavAuthor {
	background-color: #E6E6F7;
	color: #111166;
	font-weight: bold;
	}

a.BabForumTopicsConfirm,
a.BabForumTopicsConfirm:Link,
a.BabForumTopicsConfirm:Visited {
	color: #4990B1;
	text-decoration: none;
	}
a.BabForumTopicsConfirm:Hover
	{
	text-decoration: underline;
	}

a.BabForumTopicsNavContribution:Link,
a.BabForumTopicsNavContribution:Visited {
	color: #000000;
	}
a.BabForumTopicsNavContribution:Hover {
	color: #0000CC;
	}

.BabForumTopicsNavTreeBody {
	background-color:#FFFFFF;
	color: #000000;
	font-weight: bold;
	}


.BabForumTopicsNavTreeLive {
	background-color:#FFFFFF;
	color:#FF3333;
	font-weight:bold;
	}


/************* ADMINISTRATION SITES*************/

.BabSiteAdminTitleFontBackground,
.BabFaqTitleFontBg,
.BabTopicsAdminListTitle {
/*	background-color: #aaaaaa; */
	background: #23a2d1 url('../images/list_header_bg.png') repeat-x 0 0;
	color: #ffffff;
	font-weight: normal;
	text-align: left;
}

.centercontent .BabSiteAdminTitleFontBackground a,
.centercontent .BabFaqTitleFontBg a,
.centercontent .BabTopicsAdminListTitle a {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}



.BabSiteAdminSmall {
	background-color: #D1D1D9;
	color: #111166 ;
	font-weight: bold;
	}


.BabSiteAdminFont {
	color: #000;
	}


/********* FAQ **** NOTES ********************************/
a.BabFaqLink,
a.BabFaqLink:Link,
a.BabFaqLink:Visited {
	color: #0000CC;
	font-weight: bold;
	}

a.BabFaqLink:Hover {
	color: #FF3333;
	}

.BabFaqQuestion {
	background-color: #FFFFFF;
	color: #0000CC;
	font-weight: bold;
	}


/********** ADMINISTRATION THEMES TOPICS **********/


a.BabTopicsAdminTitleLink,
a.BabTopicsAdminTitleLink:Link,
a.BabTopicsAdminTitleLink:Visited {
	color: #111166;
	font-weight: bold;
	}

a.BabTopicsAdminTitleLink:Hover {
	color: #009933;
}



.orgchart {
	background: #1E6A91 url(../images/orgchart_bg.png) repeat-x top left;
}



/********** DEBUG PANEL **********/

#BAB_DEBUG_link {
	position: absolute !important;
	top: 8px !important;
	left: 40px !important;
	color: #ffffff !important;
	background-color: transparent !important;
}

#BAB_DEBUG {
	margin: 0em !important;
	padding: 1em !important;
	position: absolute !important;
	right: 0 !important;
	left: 0 !important;
	top: 40px !important;
	color: #000000 !important;
	background-color: #ffffff !important;
	z-index: 1000 !important;
	opacity: 0.9;
}

/********** ORG CHART **********/
div.entity {
	/* outline: 1px solid #bbbbbb;  */
}

.level4.vertical div.entity {
	background-color: #4292c2;
	border:0;
	outline-width: 0;
	color:black;
	width:14em;
}

.level4.vertical div.entity div.members {
	background: transparent;
}

.level5.vertical div.entity {
	background-color: #3282b2;
}

.level3.vertical div.entity table img {
	display: none;
}

.level4.vertical div.entity table img {
	display: none;
}

.bab_treeToolbar,
.bab_treeLocationBar {
	color: #ffffff;
	background-color: #1e6a91;
}

.bab_treeLocationBar .bab_treeLocationElement {
	padding-top: 0;
	padding-bottom: 0;
}
.bab_treeToolbar .bab_toolbarButton:hover,
.bab_treeLocationBar .bab_treeLocationElement:hover {
	background-color: #3e8ab1;
}

span.level2.entity {
	font-weight: bold;
}

span.level3.entity {
	font-weight: normal !important;
}

span.level4.entity {
	font-weight: normal !important;
	color: #777777;
}
span.level5.entity {
	font-weight: normal !important;
	color: #aaaaaa;
}
.bab-frame .bab-section .bab-configuration-panel {
	padding-bottom: 48px;
	background: transparent url("../images/marquee_div.png") no-repeat scroll center bottom
}

a.widget-accordion-header:active {
	outline: none !important;
}
.widget-accordion-header {
	border: 0 !important;
/*
	-moz-border-radius: 12px !important;
	-webkit-border-radius: 12px !important;
	border-radius: 12px !important;
*/
/*
	padding: 6px 6px 6px 20px !important;
	text-decoration: none !important;
	background: url("../images/closed.png") no-repeat 10px center !important;
	background-color: #ddd !important;
	font-weight: bold !important;
*/
}
.ui-accordion-selected .widget-accordion-header {
/*
	border: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	border-top-left-radius: 12px !important;
	border-top-right-radius: 12px !important;
	-moz-border-radius-topleft: 12px !important;
	-moz-border-radius-topright: 12px !important;
	-webkit-border-top-left-radius: 12px !important;
	-webkit-border-top-right-radius: 12px !important;

	margin: 0 !important;
	background: url("../images/open.png") no-repeat 10px center !important;
	background-color: #ccc !important;
	outline: none !important;
*/
}

.widget-accordion-panel {
	border: 0 !important;
	margin: 5px 0 !important;
}

.widget-accordions {
	border: 0 !important;
}

.ui-accordion-content {
	padding: 0 !important;
}


#ovfx_foot {
	display: none;
}


.icon-top-48 .widget-icon {
	min-height: 36pt;
}

.workspace-side-panel .ui-resizable-handle {
	background: #ddd url("../images/left_shadow.png") repeat right center !important;
	width: 12px !important;
	z-index: 999 !important;
}

.workspace-side-panel.folded .ui-resizable-handle {
	background: #ddd url("../images/closed.png") no-repeat 1px 16px !important;
	display: block !important;
	width: 14px !important;
}


div.widget-calendar-period-content {
	background-repeat: repeat-x;
	background-position: left top;
	font-size: 90%;
}
html > body div.widget-calendar-period-content {
	background-image: url("../images/grey_vertical_gradient_light.png");
}
html > body div.widget-calendar-period-content .widget-calendar-period-time {
	background-image: url("../images/grey_vertical_gradient_light.png");
}


/***** FULLCALENDAR *****/

.fc-sun, .fc-sat {
	background-repeat: repeat !important;
	background-position: left top !important;
	background-image: url("../images/white_trans_50.png") !important;
}

.fc-mon, .fc-tue, .fc-wed, .fc-thu, .fc-fri {
	background-repeat: repeat !important;
	background-position: left top !important;
	background-image: url("../images/white_trans_25.png") !important;
}

th.fc-sun, th.fc-sat, th.fc-mon, th.fc-tue, th.fc-wed, th.fc-thu, th.fc-fri {
	background-image: url("../images/grey_vertical_gradient_lightest.png") !important;
	background-repeat: repeat-x !important;
	background-position: left center !important;
}


.fc-event {
	opacity: 0.9;
	box-shadow: 0px 2x 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
}

.fc-event.disabled {
	opacity: 0.9;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/*
.fc-event a {
	background: transparent url("../images/grey_vertical_gradient_light.png") repeat-x left top !important;
}

.fc-event-time {
	font-weight: bold;
	background: transparent url("../images/grey_vertical_gradient_light.png") repeat-x left top !important;
}
*/

.fc-event-vert span.fc-event-bg {
	background: transparent !important;
}

.fc-header .fc-header-left {
	padding: 0 8px 0 8px  !important;
	vertical-align: bottom;
}

.fc-header .fc-header-right td {
	vertical-align: bottom;
}


.fc-header .fc-header-title,
.fc-header .fc-state-default {
    margin-top: 8px !important;
}
.fc-header .fc-state-default {
    margin-bottom: 4px !important;
}




/* POPUP MENUS */

html .widget-popup-menu {
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #fff;
}
html .widget-popup-menu .widget-link {
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	color: #000;
	display: block;
}
html .widget-popup-menu .widget-link:hover {
	background-color: #48b;
	text-shadow: 0 1px 1px #000;
/*
	box-shadow: 0 1px 1px rgba(0,0,0,0.5) inset;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5) inset;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5) inset;
*/
}
html > body .widget-popup-menu span {
	text-decoration: none !important;
}


/***** DIALOG FORMS *****/

.workspace-dialog {
	margin: 2em auto;
	padding: 2em;

	border: 1px solid #e6e6e6 !important;
	border-top: 1px solid #ddd;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-background-clip: padding-box;

	background-color: #f7f7f7;
	max-width: 960px;
}
.workspace-dialog .ui-tabs-nav {
	border: none;
	background: transparent;
	border-bottom: 1px solid #eee;
}
.workspace-dialog.ui-tabs {
	border: none !important;
	background: transparent !important;
}
.workspace-dialog.ui-tabs .ui-tabs-panel {
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	-webkit-background-clip: padding-box;
/*
	background: url("images/grey_vertical_gradient_lightest.png") repeat-x left top;
	background: rgba(255, 255, 255, 0.25);
*/
	background: url("../images/white_trans_50.png") repeat;
	border: 1px solid #e6e6e6 !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
}
.workspace-dialog .ui-tabs-nav li.ui-tabs-nav-item {
	background: #B1B5B7;
	border-color: #A1A5A7;
	border-top-color: #919597;
}
.workspace-dialog .ui-tabs-nav li.ui-tabs-selected {
	background: #bfc3c5;
	background: rgba(255, 255, 255, 0.25);
	border: 1px solid #eee;
	border-bottom: none !important;
}
.workspace-dialog .ui-tabs-nav li.ui-tabs-selected a {
	color: #000 !important;
	font-weight: bold;
}

html > body .workspace-dialog {
/*
	background: url("images/grey_vertical_gradient_lightest.png") repeat-x left top;
*/	background: url("../images/white_trans_25.png") repeat; */
	border-bottom: 0;
}
html > body .ui-tabs .workspace-dialog {
	background: transparent;
	border: none !important;
}


.light {
	color: #444;
}

.section-header-tag {
	margin-left: 1em;
	padding: 0px 8px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-webkit-background-clip: padding-box;
	background-color: #777;
	color: #fff;
	font-weight:bold;
	border: 1px solid #fff;
	white-space: nowrap;
}

.workspace-article-body p {
	font-size: 10pt;
	line-height: 14pt;
	color: #444;
}

#workspace_search input[type=text]{
    vertical-align: top;
    border: none !important;
    border-radius: 16px 0 0 16px;
    opacity: 0.8;
    margin: 0;
    padding-left: 20px !important;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
}

#workspace_search input[type=submit]{
	background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 4px;
    color: #ccc;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    margin-right: 2px;
    opacity: 0.75;
}

#workspace_search input:focus,
#workspace_search input:hover {
	opacity: 1;
}


.readNext {
	display: inline-block;
	padding: 6px;
}

.readNext:hover {
	text-decoration: underline;
}



.workspace-article  {
    margin: 0 auto 4em auto;
    padding-left: 2em;
    padding-right: 12em;
    max-width: 600px;
    min-width: 400px;
}
.workspace-article h1 {
    letter-spacing: -1.2px;
    margin: 0;
    padding: 1em 0 0.2em 0;
}
.workspace-article h2 {
    letter-spacing: -1px;
}
.workspace-article h3 {
    letter-spacing: -0.75px;
}
.centercontent .workspace-article-date {
    color:#666;
    font-size:95%;
    font-weight:normal;
    padding:0 0 1em 0.25em;
}

.workspace-article-body {
    color:#333;
    font-size:10pt;
    line-height:140%;
}
div.workspace-article-body {

	border-left:4px solid #CCC;
    margin-left:0.2em;
    padding-left:1em;
}


.widget-list-element {
	border-top: 1px dotted rgba(0,0,0,0.1);
	padding: 0.5em 0;
}





.workspace-list {
    margin: 2em auto;
    max-width: 1000px;
    padding: 0 2em;
}


.workspace-directory-entry {
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0.5em;
    padding: 8px;
    transition-duration: 0.4s;
    width: 23em;
}



#location-toolbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 8px 0;
}


#crm_page_info,
.crm-info,
div.bab-page-message,
div.bab-page-errormessage {
    position: relative;
    background: none repeat scroll 0 0 rgb(250, 230, 170);
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    padding: 12px 24px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
div.bab-page-errormessage {
    background: none repeat scroll 0 0 rgba(210, 0, 0, 0.5);
}


.widget-button-box {
	padding: 16px 0 8px 0;
}

.widget-actionbutton {
    border: 1px solid rgba(0,0,0,0.1);

    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-right: 10px !important;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.025);

    box-shadow: 0 0 1px #fff;
    color: rgba(0,0,0,0.75);
    text-shadow: 0 0 2px #fff;
    white-space: nowrap;
    line-height: 1.2em;
}


.widget-actionbutton:hover {
    border-color: rgba(0,0,0,0.3);

    color: rgba(0,0,0,0.8);
}

.widget-actionbutton .widget-filepicker-add {
    margin: 0;
    border: none;
    padding: 0;
    background: none;
    color: inherit;
    font-weight: inherit;
}
