/**
 * Specific icons for lcrm addon for ovidentia.
 * 
 * @license http://opensource.org/licenses/gpl-license.php GNU General Public License (GPL)
 * @copyright Copyright (c) 2008 by CANTICO ({@link http://www.cantico.fr})
 */



.icon-48x48 .apps-addon-lcrm { background-image: url("48x48/apps/addon-workspace.png"); }


.icon-32x32 .apps-addon-lcrm { background-image: url("32x32/apps/addon-workspace.png"); }


.icon-24x24 .apps-addon-lcrm { background-image: url("24x24/apps/addon-workspace.png"); }


.icon-16x16 .apps-addon-lcrm { background-image: url("16x16/apps/addon-workspace.png"); }
.icon-16x16 .status-workspace-administrator { background-image: url("16x16/status/workspace-administrator.png"); }
.icon-16x16 .status-workspace-writer { background-image: url("16x16/status/workspace-writer.png"); }
.icon-16x16 .status-workspace-reader { background-image: url("16x16/status/workspace-reader.png"); }