<style type="text/css">
	<OFPutVar name="babSkin">@import url('skins/<OVbabSkin>/ovml/homeworkspace.css ');
</style>

<div style="background: #fff; margin-bottom:20px;">
	<OFPortletContainer id="workspace_<OVworkspaceId>_top" mode="locked">
</div>

<OFPortletContainer id="workspace_<OVworkspaceId>_left" mode="locked" classname="col-md-6">
<OFPortletContainer id="workspace_<OVworkspaceId>_right" mode="locked" classname="col-md-6">
<OFPortletContainer id="workspace_<OVworkspaceId>_bottom" mode="locked" classname="col-md-12">