<style type="text/css">
	<OFPutVar name="babSkin">@import url('skins/<OVbabSkin>/ovml/homeworkspace.css ');
</style>

<OCAddon name="workspace" action="getCurrent">
	<OFPutVar name="wId" value="<OVWorkspaceId>">
</OCAddon>

<OFPortletContainer id="workspace_<OVwId>" placeholder="Cette zone est personnalisable" mode="locked">