<div class="row">
	<OFPortletContainer id="workspace_<OVworkspaceId>_top" mode="locked">
</div>

<div class="row">
	<OFPortletContainer id="workspace_<OVactivity>_<OVworkspaceId>_bottom" mode="locked" classname="masonry">
</div>

<div class="row">
	<OFPortletContainer id="workspace_<OVactivity>_<OVworkspaceId>_left" mode="locked" classname="col-md-6">
	<OFPortletContainer id="workspace_<OVactivity>_<OVworkspaceId>_right" mode="locked" classname="col-md-6">
</div>