html>body div.outerbox
{
	padding: 0 5px 5px 0;
}
html>body div.outerbox div.shadowbox1
{
	position: absolute;
	right: 0;
	bottom: 5px;
	width: 5px;
	height: 100%;
	background: url(myshadow2.png) no-repeat right top;
}
html>body div.outerbox div.shadowbox2
{
	position: absolute;
	bottom: 0;
	right: 5px;
	height: 5px;
	width: 100%;
	background: url(myshadow2.png) left bottom;
}
html>body div.outerbox div.shadowbox3
{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 5px;
	width: 5px;
	background: url(myshadow2.png) no-repeat right bottom;
}
html>body .innerbox
{
	margin: 0;
	display: inherit;
}


#root-menu-div ul {
	border: 1px solid #000;
}
#root-menu-div li{
	white-space:nowrap;
}
* html #root-menu-div li{
	height: 1.5em; /* fixing ie6 problem */
}

ul.menu,
#root-menu-div ul {
	background: #fff url(iconbg.png) repeat-y left top;
	list-style: none;
	margin: 0;
	padding: 0;
}

li.menumain {
	float: left;
	
}





li.menu-separator.active{
	background-color: transparent;
}
li.active {
	background-color: #FC3;
}
.activetarget{
	background-color: white;
}

* html div.menu-item {
	display: inline; /* fixes problem in ie6 */
}




div.menu-item {
	padding: 3px 15px 3px 4px;
}

div.menu-item a,
div.menu-item a:visited {
	color:#000;
	text-decoration:none;
	display:block;
}

div.menu-item a:hover {
	color:#000;
}

img.menu-item-arrow {
	position: absolute;
	right: 4px;
	top: 8px;
}
li.menu-separator{
	border-bottom: 1px solid #000;
	font-size: 0; /* for ie */
	height: 0;
	line-height: 0; /* for ie */
	margin: 2px 0;
}



#sitemap_menu_root {
	display: none; 
	background: #000;
	font-size: 13px;
	font-weight: bold;
	font-color: #fff;
	-moz-border-radius: 20px;
}

#workspace_selector_container #sitemap_menu_root {
	display: block;
}


.sitemap-menumain-button {
	background-color:transparent;
	padding: 0px 3px 0px 4px;
	color:#fff;
	font-weight:bold;
	cursor: pointer;
}

.activetarget .sitemap-menumain-button {
	background-color:#444;
}