.timeline-event-tape{
	height: 7px !important;
	border: 1px solid #777777;
	margin-left: 6px;
}

.timeline-event-label{
	margin-top: 3px;
	color: #777777 !important;
	font-size: 85%;
	margin-left: 6px;
}


.fc-event-inner .actions {
	display: none;
	position: absolute;
	right: 0;
}
.fc-event-inner:hover .actions {
    display: block;
}

.fc-event:hover {
    z-index: 1000 !important;
    width: 200px;
}

textarea, select, input, .widget-userpicker, .widget-grouppicker {
	font-family:Arial,sans-serif;
	font-size: 9.5pt;
	padding: 3px !important;
}

input[type="file"].small {
	font-size: 6pt;
	opacity: 0.5;
	background-image:url(ovidentia/skins/ovidentia/images/addons/LibFileManagement/thumbnails/3305536167-126x126.png);
	background-position:center 4px;

}
input[type="file"].small:hover {
	opacity: 1;
}

.widget-displaymode {
	padding: 3px 0;
}


#workspace_file_listview {
	overflow: auto;
	padding: 16px 1em;
	height: 100%;
}



.widget-listelement.overflow > table {
	background: transparent url("images/454545_11x11_icon_plus.gif") no-repeat bottom right;
}




.widget-listelement .body {
	font-size: 105%;
	color: #444;
	line-height: 13pt;
	margin-bottom: 1em;
}
.widget-listelement .body p {
	margin-top: 0;
	margin-bottom: 13pt;
}


.widget-listelement .title {
	text-align: left;
	font-weight: normal;
	color: #678;
	font-size: 11pt;
	line-height: 22pt;
	margin-bottom: 0.5em;
}

#workspace_article_splitview .widget-listelement .title {
	font-size: 15pt;
	line-height: 33pt;
	color: #269;
}
#workspace_article_splitview .widget-listelement .title:hover {
	color: #37a;
}

#workspace_article_splitview .workspace-topic-label {
    border: 1px solid #ddd;
    border-radius: 11px;
    color: #555;
    display: block;
    margin: 0 0 1em;
    padding: 3px;
    text-align: center;

}

.widget-listelement .widget-icon {
	width: 12em;
}
.widget-listelement .workspace-content-summary {
	vertical-align: middle;
}


/**
 * side panel treeviews
 */
.workspace-side-panel {
	overflow: hidden !important;
	padding: 0 !important;
}



.workspace-side-panel .bab_tree .tree {
	background-color: transparent ! important;
	margin-left: -1.8em ! important;
}

.workspace-side-panel .bab_tree .tree div.line {
	white-space: nowrap !important;
}







/***************** DIRECTORY *****************/

.workspace-directory-entry {
	border: 1px solid #eee;
	margin: 0.5em;
	padding: 8px;
	width: 23em;
	overflow: hidden;
}

.workspace-directory-entry:hover {
	border-color: #69f;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
}
.workspace-directory-entry:hover a span {
	text-decoration: underline;
}


.workspace-directory-entry .fn {
	display: block;
	text-align: left;
	font-weight: bold;
	color: #000;
	font-size: 115%;
}

.workspace-directory-entry .org {
	display: block;
	text-align: left;
	color: #555;
}
.workspace-directory-entry .adr {
	display: block;
	text-align: left;
	font-size: 90%;
}
.workspace-directory-entry.compact .adr {
	display: none;
}

.workspace-directory-entry .email {
	display: block;
	text-align: right;
	font-size: 90%;
	margin-top: 4px;
	margin-bottom: 4px;
}
.workspace-directory-entry .phone,
.workspace-directory-entry .mobile,
.workspace-directory-entry .fax {
	display: block;
	text-align: right;
	font-size: 90%;
}



/* Some decoration on directory entries to differentiate administrators */
.workspace-profile-administrator {
	background-image: url("images/administrator_ribbon.png");
	background-repeat: no-repeat;
	background-position: top left;
	border-color: #f0d7d7
}
.workspace-profile-administrator.workspace-permanent {
    background-image: url("images/permanent_administrator_ribbon.png");
}


/* Some decoration on directory entries to differentiate writers */
.workspace-profile-writer {
	background-image: url("images/writer_ribbon.png");
	background-repeat: no-repeat;
	background-position: top left;
	border-color: #d7d7f0
}

/* Some decoration on directory entries to differentiate writers */
.workspace-profile-reader {
	background-image: url("images/reader_ribbon.png");
	background-repeat: no-repeat;
	background-position: top left;
	border-color: #d7d7f0
}



.workspace-detailed-directory-entry .org {
	display: block;
	text-align: left;
	color: #555;
}
.workspace-detailed-directory-entry .adr {
	display: block;
	text-align: left;
	margin-top: 1em;
}
.workspace-detailed-directory-entry .email {
	display: block;
	text-align: right;
	margin-top: 1em;
}
.workspace-detailed-directory-entry .workspace-phones {
	display: block;
	text-align: right;
	margin-top: 1em;
}

.workspace-dialog.workspace-detailed-directory-entry {
	min-width: 30em;
/*	max-width: 40em; */
	font-size: 10pt;
}

.workspace-directory-entry h3 {
	color: #999;
}


.workspace-directory-entry-info {
	width: 22em;
}












.workspace-replies {
	font-size: 90%;
}
.workspace-replies .widget-icon {
	width: 15em !important;
}


.workspace-form-layout textarea {
	width: 95%;
}
.workspace-form-layout .widget-label {
	font-weight: normal;
	color: #567;

	text-shadow: 0 1px 0 #fff;
}

.workspace-form-layout .workspace-form-button-row {
}
.workspace-form-layout .workspace-form-button-row .widget-label {
	font-weight: normal;
}

/**
 * Description of a form field.
 */
.workspace-form-description {
	font-size: 0.9em;
	color: #789;
	font-weight: normal !important;
}


.workspace-large-list {
	border-top: 1px solid #ddd;
}
.workspace-large-list .widget-listelement {
	font-weight: bold;
}
.workspace-large-list .widget-icon {
	display: block;
}


.workspace-side-panel .widget-accordion-panel {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #ccc;
	background: #e2e2e2;
}

.workspace-side-panel .widget-accordion-header {
	padding: 4px;
	height: 20px;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #ccc;
	background: #e2e2e2;
	color: #000;

}

.workspace-side-panel a.widget-accordion-header,
.workspace-side-panel a.widget-accordion-header * {
	display: block;
	text-decoration: none;
	vertical-align: middle;
}

.workspace-side-panel .widget-accordion-header:hover {
	background: #ccc;
}


/*
.widget-popup-menu,
.widget-popup-menu .widget-icon {
	width: 240px;
	overflow: hidden;
}


.widget-menu {
	position: absolute;
	top: 0;
	right: 0;
}
*/

.widget-menu {
	display: none;
}


.workspace-directory-entries-panel {
	padding: 1em !important;
}



.workspace-highlighted {
	border: 1px solid orange;
}


/*
.widget-menu {
	border: 1px solid #aaa;
	border-top: 1px solid #f7f7f7;
	border-bottom: 1px solid #555;
}
html > body .widget-menu {
	background-image: url("images/grey_vertical_gradient_light_reversed.png");
	background-repeat: repeat-x;
	background-position: left bottom;
}
*/
.widget-label.workspace-bold {
	font-weight: bold;
}

.widget-10em {
	width: 10em;
}

#workspace_file_listview {
}

.workspace-directory-entries-panel {
}
.workspace-directory-entries-panel h3 {
	background-position: left top;
	padding: 0.3em;
}

.workspace-empty-list-notice {
	border: 3px solid orange !important;
	margin: 0 4em !important;
	padding: 4em !important;
	text-align: center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.workspace-droppable-accepting {
	outline: 1px solid rgb(100, 150, 200);
	outline-radius: 6px;
	-moz-outline-radius: 6px;
	-webkit-outline-radius: 6px;
	outline-color: rgba(100, 150, 200, 0.6);
}
.workspace-droppable-hovered {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #ddd;
	background-color: rgba(100, 150, 200, 0.3);
	outline-width: 2px;
	outline-color: rgba(100, 150, 200, 1);
}
#location-toolbar .workspace-droppable-hovered {
	background-color: #aaa !important;
}
.workspace-draggable-dragged {
	background-color: transparent !important;
}

.workspace-filemanager-view .workspace-fileicon.ui-selected,
.workspace-filemanager-view .workspace-fileicon,
.widget-treeview .workspace-fileicon {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.workspace-filemanager-view .workspace-fileicon.ui-selected:hover,
.workspace-filemanager-view .workspace-fileicon:hover {
	background-color: #e7e7e7;
	background-color: rgba(100, 150, 200, 0.3);
}

.widget-treeview div.line a:hover {
	text-decoration: none !important;
}

.workspace-fileicon.ui-selecting:hover,
.workspace-fileicon.ui-selecting,
.workspace-fileicon.ui-selected {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #d8dde3;
}

.icon-labels {
	line-height: 1;
	height: 4em;
	overflow: hidden;
}
.icon-labels .widget-label {
	display: inline-block;
	white-space: nowrap;
	max-height:3em;
	max-width:100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.workspace-side-panel .widget-accordion-panel {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #ccc;
	background: #e2e2e2 url('../images/section_bottom_bg.png') repeat-x top left;
}

.workspace-side-panel .widget-accordion-header {
	height: 24px;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #ccc;
	background: #e2e2e2 url('../images/section_top_bg.png') repeat-x bottom left;
	color: #000;

}

.workspace-side-panel a.widget-accordion-header  {
	display: block;
	text-decoration: none;
}

.workspace-side-panel .widget-accordion-header:hover {
	background: #cccccc;
}



.widget-tab-panel-header {
	display: none;
}

.ui-tabs-panel {
	padding: 0;
}

.ui-tabs-panel .workspace-dialog {
	margin: 0;
	border: 0;
}


.workspace-dialog.ui-accordion-content {
	margin: 0;
	padding: 1em !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom-left-radius: 12px !important;
	border-bottom-right-radius: 12px !important;
	-moz-border-radius-bottomleft: 12px !important;
	-moz-border-radius-bottomright: 12px !important;
/*
	background: url("images/grey_vertical_gradient_lighter.png") repeat-x left top;
*/
	background: transparent;
}



.bab_tree.BabLoginCadreBackground {
	background: transparent !important;
}





.workspace-file-properties {
    padding: 1em;
    margin-top: 1em;
    border-top: 1px solid #ddd;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.025), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,.025), rgba(0,0,0,0));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.025), rgba(0,0,0,0));
}


.workspace-calendar-list {
	padding: 1em;
}
.workspace-calendar-list .workspace-calendar-shared {
	padding: 2px 12px 2px 2px;
	display: block;
	border: 1px solid #aaccdd ! important;
	background-color: #c7dcf2;
	border-radius: 6px;
	-moz-border-radius: 6px;
}
.workspace-calendar-list .workspace-calendar-personal {
	padding: 2px 12px 2px 2px;
	display: block;
	border: 1px solid #ccaadd ! important;
	background-color: #dcc7f2;
	border-radius: 6px;
	-moz-border-radius: 6px;
}
.workspace-calendar-list .workspace-calendar-hidden {
	background-color: transparent;
}
.workspace-calendar-list .workspace-calendar-hidden .widget-icon-label {
	color: #999;
}



.widget-calendar-period-time {
	cursor: move;
}

.workspace-unfolded .workspace-content-summary {
	max-height: none;
}
.workspace-folded .workspace-content-summary {
	min-height: 44pt;
	max-height: 100pt;
	overflow: hidden;
	margin-bottom: 16px;
}
.workspace-folded  .workspace-home-summary {
	min-height: 88pt;
	max-height: 124pt;
	overflow: hidden;
}




.widget-emaillineedit {
    background-position: 4px 2px;
    background-repeat: no-repeat;
    padding-left: 24px !important;
}
.widget-emaillineedit-invalid {
    background-position: 4px -46px;
}


.widget-tellineedit {
    background-position: 4px 2px;
    background-repeat: no-repeat;
    padding-left: 24px !important;
}
.widget-tellineedit-invalid {
    background-position: 4px -46px;
}


.widget-updating .widget-calendar-period-content {
	background-image: url("images/spinner.gif");
	background-repeat: no-repeat;
	background-position: center center;
}


h2.msgerror {
    background: none repeat scroll 0 0 rgba(210, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    padding: 12px 24px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}


#workspaceselectorlbl {
	background: #446688;
	background: rgba(0,0,0,0.18);
	border-radius: 0 0 0 16px;
	-moz-border-radius: 0 0 0 16px;
	-webkit-border-radius: 0 0 0 16px;
	-webkit-background-clip: padding-box;
	box-shadow: -1px 1px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: -1px 1px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow: -1px 1px 1px rgba(255,255,255,0.5);

	z-index:1000;
	position:absolute;
	top: 1px;
	right: 0px;
    padding: 3px 5px 5px 12px;
	color: #fff;
	font-weight: bold;
	text-align: center;

	transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;
}

#workspaceselectorlbl:hover{
	cursor:pointer;
	background: rgba(0,0,0,0.25);
	text-shadow: -1px 1px 1px rgba(255,255,255,0.5);
}

#workspaceselector{
	border-radius: 5px 0 5px 5px;
	-moz-border-radius: 5px 0 5px 5px;
	-webkit-border-radius: 5px 0 5px 5px;

	background-color: #eee;
	background: -moz-linear-gradient(center top , #F0F0F0, #DDDDDD);
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ddd));

	z-index:1002;
	position:absolute;
	top: 20px;
	right: 0px;
	border-width: 1px 0 1px 1px;
	border-color: #FFFFFF;
	border-style: solid;
	box-shadow: -3px 2x 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: -3px 2px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: -3px 2px 3px rgba(0, 0, 0, .5);
}

#workspaceselector ul{
	margin-top: 0;
	margin-bottom: 0;
	margin:0;
	padding:5px 5px 5px 5px;

}

#workspaceselector ul{
	list-style:none outside none;
	position:relative;
}

#workspaceselector li:hover{
	background-color: #BBBBBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#workspaceselector li{
	padding: 0.5em;
}

#workspaceselector a{
	text-decoration: none;
	color: #555;
}

.selectedWorkspace{
	background-color: #ABCCD8;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}



.workspace-entry-updated {

	border-color: #d80;
	border-style: dashed;

}



.workspace-home-last-content {
	width: 33%;
	float: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    background-color: rgba(0, 0, 0, 0.01);
}

.workspace-home-last-content dd {
	margin-left: 0;
}

.workspace-home-articles {
	width: 66%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-right: 1em;
}



.workspace-home-right {
	width: 33%;
	float: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 1em;
}

.workspace-home-main {
	width: 66%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-right: 1em;
}


#workspace-pad-editor {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 150px;
}



html div.workspace-image-upload .widget-filepicker-onefilemode {
    top: -3em;
    position: relative;
    opacity: 0.5;
    text-align: inherit;
}



@media print {

	#ovfx_foot,
	#ovfx_head {
		display: none;
	}

	body {
		font-size: 9pt;
	}
	.widget-toolbar,
	.workspace-side-panel,
	#workspaceselectorlbl,
	#BAB_DEBUG_link {
		display: none;
	}
}

.widget-filter.hide-filter .filter {
	display: none;
}

.widget-menu-button,
.widget-menu-button:hover {
	color: inherit;
	transition-duration: 0;
	background-color: transparent;
	border: none; 
}
