--------------------------------------------------------------------------------------
Notification generale.
Format HTML.
--------------------------------------------------------------------------------------

<!--#begin simple_html -->
<!--#if title "!= " -->
<h3>{ title }</h3>
<!--#endif title -->
<p>{ message }</p>
<!--#end simple_html -->


----------------------------------------------
Notification generale.
Format texte.
----------------------------------------------

<!--#begin simple_text -->

<!--#if title "!= " -->
{ title }
<!--#endif title -->

{ message }

<!--#end simple_text -->


--------------------------------------------------------------------------------------
Notification de depot/modification de fichier.
Format HTML.

{ workspaceLabel } : Espace collaboratif
{ fileLabel } : Fichier
{ folderLabel } : Dossier
{ dateLabel } : Date
{ authorLabel } : Depose par

{ workspaceName } : Nom de l'espace collaboratif concerne.
{ authorName } : Nom de la personne ayant depose le fichier.
{ fileName } : Nom du fichier.
{ folderName } : Chemin du repertoire de l'espace collaboratif contenant le fichier.
{ date } : Date de modification.
{ workspaceUrl } : Url de la page d'accueil de l'espace collaboratif concerne.
{ fileUrl } : Url de telechargement du fichier.
{ folderUrl } : Url de visualisation du contenu du dossier dans l'espace collaboratif.
--------------------------------------------------------------------------------------

<!--#begin file_html -->
<h3>{ title }</h3>

<p>{ message }</p>

<ul>
<li>{ workspaceLabel }&nbsp;: <a href="{ workspaceUrl }">{ workspaceName }</a></li>
<li>{ fileLabel }&nbsp;: <a href="{ fileUrl }">{ fileName }</a></li>
<li>{ folderLabel }&nbsp;: <a href="{ folderUrl }">{ folderName }</a></li>
<li>{ authorLabel }&nbsp;: { authorName }</li>
<li>{ dateLabel }&nbsp;: { date }</li>
</ul>
<!--#end file_html -->


----------------------------------------------
Notification de depot/modification de fichier.
Format texte.
----------------------------------------------

<!--#begin file_text -->

{ title }

{ message }

{ workspaceLabel } : { workspaceName }
{ fileLabel } : { fileName } ( { fileUrl } )
{ folderLabel } : { folderName } ( { folderUrl } )
{ dateLabel } : { date }

<!--#end file_text -->



--------------------------------------------------------------------------------------
Notification de forum.
Format HTML.

{ workspaceLabel } : Espace collaboratif
{ threadLabel } : Sujet
{ postLabel } : Message
{ dateLabel } : Date
{ authorLabel } : Cree par/Poste par

{ workspaceName } : Nom de l'espace collaboratif concerne.
{ authorName } : Nom de la personne ayant cree le sujet/ecrit le message.
{ threadName } : Nom du sujet.
{ postName } : Titre du message.
{ date } : Date de modification.
{ workspaceUrl } : Url de la page d'accueil de l'espace collaboratif concerne.
{ postUrl } : Url du message.
{ threadUrl } : Url de visualisation du sujet.
--------------------------------------------------------------------------------------

<!--#begin forum_html -->
<h3>{ title }</h3>

<p>{ message }</p>

<ul>
<li>{ workspaceLabel }&nbsp;: <a href="{ workspaceUrl }">{ workspaceName }</a></li>
<!--#if postLabel -->
<li>{ postLabel }&nbsp;: <a href="{ postUrl }">{ postName }</a></li>
<!--#endif postLabel -->
<li>{ threadLabel }&nbsp;: <a href="{ threadUrl }">{ threadName }</a></li>
<li>{ authorLabel }&nbsp;: { authorName }</li>
<li>{ dateLabel }&nbsp;: { date }</li>
</ul>
<!--#end forum_html -->


----------------------------------------------
Notification de forum.
Format texte.
----------------------------------------------

<!--#begin forum_text -->

{ title }

{ message }

{ workspaceLabel } : { workspaceName }
<!--#if postLabel -->
{ postLabel } : { postName } ( { postUrl } )
<!--#endif postLabel -->
{ threadLabel } : { threadName } ( { threadUrl } )
{ dateLabel } : { date }

<!--#end forum_text -->






--------------------------------------------------------------------------------------
Notification d'articles.
Format HTML.

{ workspaceLabel } : Espace collaboratif
{ articleLabel } : Article
{ dateLabel } : Date
{ authorLabel } : Publie par

{ workspaceName } : Nom de l'espace collaboratif concerne.
{ authorName } : Nom de la personne ayant cree le sujet/ecrit le message.
{ articleName } : Titre de l'article.
{ date } : Date de modification.
{ workspaceUrl } : Url de la page d'accueil de l'espace collaboratif concerne.
{ articleUrl } : Url de visualisation de l'article.
--------------------------------------------------------------------------------------

<!--#begin article_html -->
<h3>{ title }</h3>

<p>{ message }</p>

<ul>
<li>{ workspaceLabel }&nbsp;: <a href="{ workspaceUrl }">{ workspaceName }</a></li>
<li>{ articleLabel }&nbsp;: <a href="{ articleUrl }">{ articleName }</a></li>
<li>{ authorLabel }&nbsp;: { authorName }</li>
<li>{ dateLabel }&nbsp;: { date }</li>
</ul>
<!--#end article_html -->


----------------------------------------------
Notification d'article.
Format texte.
----------------------------------------------

<!--#begin article_text -->

{ title }

{ message }

{ workspaceLabel } : { workspaceName }
{ articleLabel } : { articleName } ( { articleUrl } )
{ authorLabel } : { authorName }
{ dateLabel } : { date }

<!--#end article_text -->







--------------------------------------------------------------------------------------
Notification d'agenda.
Format HTML.

{ workspaceLabel } : Espace collaboratif
{ eventLabel } : Evenement
{ locationLabel } : Lieu
{ descriptionLabel } : Description

{ workspaceName } : Nom de l'espace collaboratif concerne.
{ eventName } : Titre de l'evenement.
{ eventLocation } : Lieu de l'evenement.
{ eventDescription } : Description de l'evenement.
{ begin } : Date/heure de debut.
{ end } : Date/heure de fin.
{ workspaceUrl } : Url de la page d'accueil de l'espace collaboratif concerne.
{ eventUrl } : Url de visualisation de l'agenda.
--------------------------------------------------------------------------------------

<!--#begin calendar_html -->
<h3>{ title }</h3>

<p>{ message }</p>

<ul>
<li>{ workspaceLabel }&nbsp;: <a href="{ workspaceUrl }">{ workspaceName }</a></li>
<li>{ eventLabel }&nbsp;: <a href="{ eventUrl }">{ eventName }</a><br />{ begin } - { end }</li>
<li>{ locationLabel }&nbsp;: { eventLocation }</li>
<li>{ descriptionLabel }&nbsp;: { eventDescription }</li>
</ul>
<!--#end calendar_html -->


----------------------------------------------
Notification d'agenda.
Format texte.
----------------------------------------------

<!--#begin calendar_text -->

{ title }

{ message }

{ workspaceLabel } : { workspaceName }
{ eventLabel } : { eventName } ( { eventUrl } )
                 { begin } - { end }
{ locationLabel } : { eventLocation }
{ descriptionLabel } : { eventDescription }

<!--#end calendar_text -->