<style type="text/css">
@import url('<OFGetSelectedSkinPath>ovml/homeworkspace.css ');
</style>

<OCAddon name="workspace" action="dateFormat">
<OFPutVar name="dateFormat" value="<OVdateFormat>">
</OCAddon>
<OCAddon name="workspace" action="timeFormat">
<OFPutVar name="timeFormat" value="<OVtimeFormat>">
</OCAddon>

<!-- Start Temporary ColorWorkspace -->
<OCDelegations>

	<OCIfEqual expr1="{OVDelegationId}" expr2="{OVwId}">
		<div style="position:relative;">
			<div class="product-img" style="float:left; background: #{OVDelegationColor}; height:50px; width:50px; margin-bottom:20px; border-radius:50%;"></div>
			<h1 style="display:inline;text-align:right; color:#{OVDelegationColor}; padding-left:20px;">{OVDelegationName}</h1> 		
			<hr style="border-color:#{OVDelegationColor}; margin:5px 20px 40px 0 !important;">	
		</div>
	
	</OCIfEqual>

</OCDelegations>
<!-- End Temporary ColorWorkspace -->

 
<div class="workspace-home-last-content">
	
	<h3><a href="?tg=addon/workspace/main&amp;idx=calendars.display"><OFTranslate text="Agendas"></a></h3>
	<dl>
		<OCAddon name="workspace" action="eventNumber">
			<OCCalendarGroupEvents last="<OVeventNumber>" calendarid="<OVws_calendarid>" limit="0,30">
				<OCIfLessThan expr1="<OVCIndex>" expr2="<OVeventNumber>">
					<dt><OVEventBeginDate date="<OVdateFormat>"></dt>
					<dd>
						<h4><a href="index.php?tg=addon/workspace/main&amp;idx=calendars.editEvent&amp;event=public/<OVws_calendarid>:<OVEventId>"><OVEventTitle></a> <em>|</em> <span><OVEventBeginDate date="<OVtimeFormat>"> - <OVEventEndDate date="<OVtimeFormat>"></span></h4>
						<p><OVEventDescription striptags="1" strlen="100,..."></p>
					</dd>
				</OCIfLessThan>
			</OCCalendarGroupEvents>
		</OCAddon>
	</dl>
	
    <h3><a href="?tg=addon/workspace/main&amp;idx=articles.displayList"><OFTranslate text="Articles"></a></h3>
    <dl>
        <OCAddon name="workspace" action="otherThem">
            <OCIfNotEqual expr1="<OVotherThem>" expr2="1" c1>
                <OCRecentArticles last="<OVarticleNumber>" topicid="<OVws_topicid>" >
                    <!--<OVArticleDate date="<OVdateFormat>" saveas="tmpdate"> -->
                    <OCIfNotEqual expr1="<OVRecentArticles_date>" expr2="<OVtmpdate>" c2>
                    <dt><OVtmpdate saveas="RecentArticles_date"></dt>
                    </OCIfNotEqual c2>
                    <dd>
                        <h4><a href="index.php?tg=addon/workspace/main&amp;idx=articles.show&amp;article=<OVArticleId>"><OVArticleTitle></a> <em>|</em> <span><OVArticleDate date="<OVtimeFormat>"></span></h4>
                        <p><OVArticleHead striptags="1" strlen="100,..."></p>
                    </dd>
                </OCRecentArticles>
            </OCIfNotEqual c1>
            <OCIfEqual expr1="<OVotherThem>" expr2="1">
                <OCRecentArticles last="<OVarticleNumber>" delegationid="<OVws_delegid>" >
                    <!--<OVArticleDate date="<OVdateFormat>" saveas="tmpdate"> -->
                    <OCIfNotEqual expr1="<OVRecentArticles_date>" expr2="<OVtmpdate>">
                    <dt><OVtmpdate saveas="RecentArticles_date"></dt>
                    </OCIfNotEqual>
                    <dd>
                        <h4><OCArticleTopic topicid="<OVArticleTopicId>"><OVTopicName></OCArticleTopic> : <a href="index.php?tg=addon/workspace/main&amp;idx=articles.show&amp;article=<OVArticleId>"><OVArticleTitle></a> <em>|</em> <span><OVArticleDate date="<OVtimeFormat>"></span></h4>
                        <p><OVArticleHead striptags="1" strlen="100,..."></p>
                    </dd>
                </OCRecentArticles>
            </OCIfEqual>
        </OCAddon>
    </dl>

	<h3><a href="?tg=addon/workspace/main&amp;idx=forum.listThreads"><OFTranslate text="Forum"></a></h3>
	<dl>
		<OCAddon name="workspace" action="posteNumber">
			<OCRecentPosts last="<OVposteNumber>" delegationid="<OVws_delegid>" >
			<!--<OVPostDate date="<OVdateFormat>" saveas="tmpdate"> -->
			<OCIfNotEqual expr1="<OVRecentPosts_date>" expr2="<OVtmpdate>">
			<dt><OVtmpdate saveas="RecentPosts_date"></dt>
			</OCIfNotEqual>
			<dd>
				<h4><a href="?tg=addon/workspace/main&amp;idx=forum.listPosts&amp;thread=<OVPostThreadId>&amp;post=<OVPostId>#workspace_post_<OVPostId>"><OVPostTitle></a> <em>|</em> <span><OVPostDate date="<OVtimeFormat>"></span></h4>
				<p><OVPostText striptags="1" strlen="100,..."></p>
			</dd>
			</OCRecentPosts>
		</OCAddon>
	</dl>

	<h3><a href="?tg=addon/workspace/main&amp;idx=files.browse"><OFTranslate text="Files"></a></h3>
	<dl>
		<OCAddon name="workspace" action="fileNumber">
			<OCRecentFiles last="<OVfileNumber>" delegationid="<OVws_delegid>" >
			<!--<OVFileDate date="<OVdateFormat>" saveas="tmpfiledate"> -->
			<OCIfNotEqual expr1="<OVRecentFiles_date>" expr2="<OVtmpfiledate>">
			<dt><OVtmpfiledate saveas="RecentFiles_date"></dt>
			</OCIfNotEqual>
			<dd>
				<h4><a href="?tg=addon/workspace/main&amp;idx=files.displayFile&amp;pathname=DG<OVFileDelegationId>/<OVFilePath><OVFileName>"><OVFileName></a> <em>|</em> <span><OVFileDate date="<OVtimeFormat>"></span></h4>
				<p><OFTranslate text="Folder"> : <a href="?tg=addon/workspace/main&amp;idx=files.browse&amp;path=DG<OVFileDelegationId>/<OVFilePath>"><OVFilePath></a></p>
			</dd>
			</OCRecentFiles>
		</OCAddon>
	</dl>
<!-- 
	<h3><a href="?tg=addon/workspace/main&idx=calendars.displayWeek"><OFTranslate text="Calendar"></a></h3>
	<dl>
		<OCCalendarUserEvents limit="0,7">
		//<OVEventBeginDate date="<OVdateFormat>" saveas="tmpdate"> //
		<OCIfNotEqual expr1="<OVCalendarUserEvents_date>" expr2="<OVtmpdate>">
		<dt><OVtmpdate saveas="CalendarUserEvents_date"></dt>
		</OCIfNotEqual>
		<dd>
			<h4><a href="index.php?tg=addon/workspace/main&amp;idx=calendars.editEvent&amp;event=<OVEventId>"><OVEventTitle></a> <em>|</em> <span style="background-color:#<OVEventCategoryColor>"><OVEventBeginDate date="<OVtimeFormat>"></span></h4>
			<p><OVEventDescription striptags="1" strlen="100,..."></p>
		</dd>
		</OCCalendarUserEvents>
	</dl>
-->
</div>

<div id="article_list" class="workspace-article">

<OCAddon name="workspace" action="getArticles" rows="3" topicid="<OVws_topicid>" orderby="publication" order="asc" topicorder="yes">
 <div class="workspace-list-article-home workspace-list-item">
 <div class="workspace-article-more">
  <div class="workspace-content-summary">
   <h1><!-- <OCArticleTopic topicid="<OVArticleTopic>"><OVTopicName></OCArticleTopic> :  --><OVArticleTitle></h1>
   <div class="workspace-article-date icon-left-16 icon-16x16 icon-left">
     <span class="workspace-article-date"><OVArticleDate date="<OVdateFormat> <OVtimeFormat>"></span>
     <OCIfEqual expr1="<OVws_comment>" expr2="1">
      |
     <a href="javascript: bab_popup('?tg=comments&idx=List&topics=<OVArticleTopic>&article=<OVArticleId>', 6)" class="widget-link">
       <span class="widget-icon icon actions-note-new">
         <span class="widget-icon-image-container icon-image-container"><span class="widget-icon-label icon-label"><OVArticleCommentStr></span></span>
       </span>
     </a>
     </OCIfEqual>
     <OCIfEqual expr1="<OVArticleCanUpdate>" expr2="1">
      |
     <a href="index.php?tg=addon/workspace/main&amp;idx=articles.edit&amp;article=<OVArticleId>" class="widget-link">
       <span class="widget-icon icon actions-document-properties">
         <span class="widget-icon-image-container icon-image-container"><span class="widget-icon-label icon-label"><OFTranslate text="Edit"></span></span>
       </span>
     </a>
     </OCIfEqual>
   </div>
   <div class="workspace-article-body body"><OVArticleHead></div>
<!--  <div style="text-align:right;"><span class="readNext" style="text-align:right; color:#666666; cursor:pointer;">Lire la suite ></span></div> -->
   </div>
  </div>
   
 </div>
</OCAddon>
</div>


<hr class="clear" />

