
.centercontent .workspace-article  {
    border-top: medium none;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 100px;
    overflow: hidden;
    padding-bottom: 1em;
    padding-left: 6em;
    padding-right: 6em;
}
html > body .centercontent .workspace-article  {
/*	background: url("../images/white_trans_50.png") repeat left top;*/
}

.workspace-list-item > div.workspace-article-more {
    background: transparent;
    padding-bottom: 0;
    padding-left: 2em;
    padding-right: 2em;
}

.workspace-list-item.overflow > div.workspace-article-more {
	 background: transparent url("../images/454545_11x11_icon_plus.gif") no-repeat bottom right;
    padding-bottom: 16px;
}
/*
.workspace-article .workspace-list-article-home {
	padding: 1em 1.5em;
}
*/
.workspace-article .workspace-list-item {
	margin-top: 1em;
}
.workspace-article .workspace-content-summary  h1 {
    letter-spacing: -1.2px;
    padding: 0.2em 0;
}

.workspace-article  .workspace-folded .workspace-content-summary {
    max-height: 100pt;
    min-height: 44pt;
    overflow: hidden;
    padding-bottom: 16px;
    margin-bottom: 0;
}

.centercontent .workspace-article h2 {
	letter-spacing: -1px;
}
.centercontent .workspace-article h3 {
	letter-spacing: -0.75px;
}
.centercontent .workspace-article-date {
	font-size: 95%;
	font-weight: normal;
	padding: 0 0 1em 0;
	color: #666666;	
}

.centercontent .workspace-article .workspace-article-body {
	border-left: none;

	padding-left: 0;
	margin-left: 0;

	font-size: 105%;
	line-height: 140%;
	color: #333;
}

body div.workspace-home-last-content {
/*
	position: relative;
	top: -8px;
*/
	padding: 0 1.5em 1em 1.5em;
	margin: 0 0 1em -1em;
	width: 300px;
	float: right;
/*	position: relative;*/
	border: 2px dotted #4D97BC;
	border-bottom: 2px solid #eeeeee;
	border-left: 2px solid #eeeeee;
	border-right: 0;
	border-top: 0;
	border-bottom-left-radius: 2em;
	-moz-border-radius-bottomleft: 2em;
	-webkit-border-bottom-left-radius: 2em;
	background: url("../images/grey_vertical_gradient_lightest.png") repeat-x left top;
	background-color: #fff;

	z-index: 1000; 
}

body div.workspace-home-last-content h3 a {
	color: inherit;
	text-decoration: inherit;
}

body div.workspace-home-last-content h3 {
	font-size: 1.6em;
	font-weight: normal;
	color: #4D97BC;
	border-bottom: 1px solid #cccccc;
	display: block;
}

body div.workspace-home-last-content dt {
	font-size: 0.8em;
	color: #999999;
}

body div.workspace-home-last-content dd {
	margin: 0;
	font-size: 0.9em;
	color: #000000;
	margin-left: 1em;
}

body div.workspace-home-last-content dd p {
	margin: 0 0 2em 0;
	line-height: 1.3em;
}

body div.workspace-home-last-content dd h4 {
	font-size: 1em;
	font-weight: normal;
	color: #4D97BC;
	line-height: 1.3em;
}

body div.workspace-home-last-content dd h4 a {
	text-decoration: none;
	font-weight: bold;
}


