
<ul id="sitemap_menu_root" class="menu">
	<OFAddon name="workspace" function="getMenu">
</ul>




<script type="text/javascript">
<!--
jQuery(document).ready(function()
{
	var options = { 
		minWidth: 120, 
		arrowSrc: 'skins/workspace/images/arrow_right.gif', 
		copyClassAttr: true, 
		onClick: function(e, menuItem){
			// alert('you clicked item "' + jQuery(this).text() + '"');
		}};
	

	jQuery('#sitemap_menu_root').ThemeWorkspaceMenu(options);

	jQuery('#sitemap_menu_root').css('position', 'absolute').css('top', '0px').css('left', '0px');
});

-->
</script>