<style type="text/css">
@import url('<OFGetSelectedSkinPath>ovml/homeworkspace.css ');
</style>


<div id="homeLastContent">
	<h3><OFTranslate text="Commissions"></h3>
	<dl>
		<OCAddon name="CasqyCom" action="getRecent" last="3">
		<!--<OVChangeDate date="%D %j %M" saveas="tmpdate"> -->
		<OCIfNotEqual expr1="<OVChange_date>" expr2="<OVtmpdate>">
		<dt><OVtmpdate saveas="Change_date"></dt>
		</OCIfNotEqual>
		<dd>
			<h4><a href="<OVUrl>"><OVMeetingName></a> <em>|</em> <span><OVChangeDate date="%H:%i"></span></h4>
			<p><OVObject></p>
		</dd>
		</OCAddon>
	</dl>

	<h3><OFTranslate text="Articles r&eacute;cents"></h3>
	<dl>
		<OCRecentArticles last="3">
		<!--<OVArticleDate date="%D %j %M" saveas="tmpdate"> -->
		<OCIfNotEqual expr1="<OVRecentArticles_date>" expr2="<OVtmpdate>">
		<dt><OVtmpdate saveas="RecentArticles_date"></dt>
		</OCIfNotEqual>
		<dd>
			<h4><a href="<OVArticleUrl>"><OVArticleTitle></a> <em>|</em> <span><OVArticleDate date="%H:%i"></span></h4>
			<p><OVArticleHead striptags="1" strlen="100,..."></p>
		</dd>
		</OCRecentArticles>
	</dl>

	<h3><OFTranslate text="Forum"></h3>
	<dl>
		<OCRecentPosts last="3">
		<!--<OVPostDate date="%D %j %M" saveas="tmpdate"> -->
		<OCIfNotEqual expr1="<OVRecentPosts_date>" expr2="<OVtmpdate>">
		<dt><OVtmpdate saveas="RecentPosts_date"></dt>
		</OCIfNotEqual>
		<dd>
			<h4><a href="<OVPostUrl>"><OVPostTitle></a> <em>|</em> <span><OVPostDate date="%H:%i"></span></h4>
			<p><OVPostText striptags="1" strlen="100,..."></p>
		</dd>
		</OCRecentPosts>
	</dl>

	<h3><OFTranslate text="Calendar"></h3>
	<dl>
		<OCCalendarUserEvents limit="0,7">
		<!--<OVEventBeginDate date="%D %j %M" saveas="tmpdate"> -->
		<OCIfNotEqual expr1="<OVCalendarUserEvents_date>" expr2="<OVtmpdate>">
		<dt><OVtmpdate saveas="CalendarUserEvents_date"></dt>
		</OCIfNotEqual>
		<dd>
			<h4><a href="<OVEventUrl>"><OVEventTitle></a> <em>|</em> <span style="background-color:#<OVEventCategoryColor>"><OVEventBeginDate date="%H:%i"></span></h4>
			<p><OVEventDescription striptags="1" strlen="100,..."></p>
		</dd>
		</OCCalendarUserEvents>
	</dl>
</div>

<OCArticlesHomePages type="private">
<OFPutVar name="nopub" value="1">
 <div class="article">
  <h4 class="title"><OVArticleTitle></h4>
  <div class="date"><OVArticleDate date="%D %j %M" saveas="article_date"></div>

   <div class="article_head"><OVArticleHead></div>
   <OCIfEqual expr1="<OVArticleReadMore>" expr2="1">
   <p class="readmore"><a href="<OVArticleUrl>"><OFTranslate text="Read More"></a></p>
   </OCIfEqual>
 </div>
</OCArticlesHomePages>

<div class="article">     
  <h4 class="title">Ovidentia</h4>
	is a toolbox allowing to publish with extreme ease and very 
	fast an intranet, extranet or internet portal. Starting with 
	the classic functions of a Content Management System (CMS) 
	such as: </p>
  <ul>
	<li>publishing of information (WYSIWYG editor, article tree, 
	  categorization), </li>
	<li>validation workflow (allowing to define approbation schemes, 
	  from simple ones to the most complex), </li>
	<li>a search engine</li>
  </ul>
  <p>
	... <strong>OVIDENTIA</strong>
	also has powerful collaborative functions</p>

  <ul>
	<li> Profile manager, shared agendas, mail interface, directories, 
	</li>
	<li>file manager (with version management)</li>
	<li>Forums,</li>
	<li>FAQ, </li>
	<li>Management of vacation requests (with workflow)</li>
	<li>Possibility to delegate administration functions (within 
	  a given perimeter and for a defined set of functions)</li>
  </ul>

  <p>Its architecture, completely modular, allows to plug in additional 
	extension modules developed by the <strong>OVIDENTIA</strong> 
	community. </p>

  <p>
	For more information : <a href="http://www.ovidentia.org">http://www.ovidentia.org </a>
  </p>
</div>

<hr class="clear" />

